#name-text {
  font-size: 2em;
  color: #f67280;
  font-weight: bold;
}
.nav-link {
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 0px;
}
nav {
  border-bottom: 1px solid grey;
  font-family: tahoma sans-serif;
}
embed {
  width: 95%;
  height: 1000px;
  padding-left: 10%;
}
.nav-link {
  color: #6c5b7b;
}

p {
  font-size: 1.5em;
  font-family: tahoma sans-serif;
  margin-bottom: 0;
  text-align: justify;
  color: #6c5b7b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f67280;
  font-weight: bold;
  padding-bottom: 20px;
}
hr {
  border-color: #c06c84;
}
#body-content {
  padding-top: 20px;
}
#me {
  margin-top: 100px;
  border-radius: 20%;
  height: 300px;
  width: 300px;
}
#home-about-me {
  padding-top: 30px;
}
#profiles-fyi {
  background-color: #f6f6f6;
}
#profiles-fyi h2 {
  color: black;
}

#blog-book h2 {
  color: black;
}
#blog-book p {
  color: #6c5b7b;
}
#lets-chat {
  background-color: #f6f6f6;
}
#lets-chat h2 {
  color: black;
}

#wustl-courses h2 {
  color: black;
}
#projects-intro {
  padding-bottom: 30px;
}
#projects-intro-wrapper {
  background-color: #f6f6f6;
}
.project {
  padding-top: 30px;
  padding-bottom: 30px;
}
.project-image {
  max-width: 100%;
}
.paper {
  padding-top: 30px;
  padding-bottom: 30px;
}

footer {
  margin: 50px;
  text-align: center;
}
